<% provide(:title, "Favorite") %>
  <h2>お気に入り一覧</h2>
    <ul>
      <% @favs.each do |cd| %>
        <%= link_to image_tag("#{cd.icon}", alt: "Rails logo") %>
        <li>Item: <%= cd.title %> </li>
        <li>Price: <%= cd.price %> 円 </li>
        <ul>
          <li>
            <%= link_to "やっぱりこの商品をやめる", line_item_path(line_item), method: :delete %>
          </li>
        </ul>
        <ul>---------------------------------------------------------------------------------------------------</ul>
      <% end %>
    <%= link_to "Delete(実装する？するとしたらfavをsessionで保持しないとダメ？)", fav_path(@favs), method: :delete,
                        data: { confirm: "You sure?" } %>
