<h2>購入確認</h2>
<ul>
      <% @cart.line_items.each do |line_item| %>
        <%= link_to image_tag("#{line_item.cd.icon}", alt: "Rails logo") %>
        <li>Item: <%= line_item.cd.title %> </li>
        <li>Price: <%= line_item.cd.price %> 円 </li>
        <li>Quantity: <%= line_item.quantity %> </li>
        <li>Sub total: <%= line_item.total_price %> 円</li>

        <ul>---------------------------------------------------------------------------------------------------</ul>
      <% end %>
</ul>

    <h3>Total: <%= @cart.sub_total %>円</h3>

    <%= button_to "購入", {controller: 'orders', action: 'create'}, {method: :post} %>

    <li>
      <%= link_to "カートへ戻る", cart_path(current_user) %>
    </li>
