<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "KomiReco Online", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
              <li><%= link_to "ALL CDs", cds_path %></li>
              <li><%= link_to "Favorites", likes_user_path(current_user) %></li>
              <li><%= link_to "Cart Items", "#" %></li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "delete", user_path(current_user), method: :delete,
                                  data: { confirm: "You sure?" } %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
